logging:
  level:
    com.github.rahmnathan: info
    org.springframework.cloud: debug

server:
  port: 8080
  ssl:
    enabled: false

service:
  directoryMonitor:
    enabled: true
    concurrentConversionLimit: 3
    ffprobeLocation: "/usr/bin/ffprobe"
  mediaPaths: "/media/nathan/LocalMedia/"
  notificationsEnabled: false
  stream:
    hmac:
      key: 7658de24455f623682d5c93028d3504927ed265304
  omdb:
    apiKey: ""
    enabled: true
  repository:
    enabled: true
    updateFrequency:
      unit: SECONDS
      value: 30
    updateLimit: 201
  conversion-service:
    enabled: true

spring:
  output:
    ansi:
      enabled: ALWAYS
  threads:
    virtual:
      enabled: true
  application:
    name: localmovie-media-manager
  datasource:
    password: pw123
    url: "jdbc:postgresql://localhost:5432/localmovies"
    username: localmovies
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: false
  flyway:
    enabled: true
  mvc:
    pathmatch:
      matching-strategy: ant-path-matcher
  data:
    web:
      pageable:
        max-page-size: 100
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://login.nathanrahm.com/realms/NathanRahm
      client:
        registration:
          keycloak:
            client-id: localmovies
            authorization-grant-type: authorization_code
            scope:
              - openid
          keycloak-token:
            client-id: localmovies
            authorization-grant-type: jwt_bearer
            scope:
              - openid
        provider:
          keycloak:
            issuer-uri: https://login.nathanrahm.com/realms/NathanRahm
            user-name-attribute: preferred_username
          keycloak-token:
            issuer-uri: https://login.nathanrahm.com/realms/NathanRahm
            user-name-attribute: preferred_username

management:
  endpoint:
    metrics:
      enabled: true
    prometheus:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  prometheus:
    metrics:
      export:
        enabled: true
