apiVersion: v1
kind: ConfigMap
metadata:
 name: localmovies
data:
 application.yml: |
    service.omdb.apiKey: {{ .Values.localmovies.omdb.apiKey }}
    service.stream.hmac.key: {{ .Values.localmovies.stream.hmacKey }}