apiVersion: v1
kind: ConfigMap
metadata:
 name: localmovies
data:
 application.yml: |
    service:
      stream:
        hmac:
          key: {{ .Values.service.stream.hmac.key | quote }}
      omdb:
        enabled: true
        apiKey: {{ .Values.service.omdb.apiKey | quote }}
      opensubtitles:
        enabled: true
        apiKey: {{ .Values.service.opensubtitles.apiKey | quote }}
        username: {{ .Values.service.opensubtitles.username | quote }}
        password: {{ .Values.service.opensubtitles.password | quote }}
    spring:
      datasource:
        password: {{ .Values.spring.datasource.password | quote }}
