apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
  labels:
    app: localmovies
  name: localmovies
spec:
  replicas: 1
  selector:
    matchLabels:
      app: localmovies
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: localmovies
    spec:
      serviceAccountName: localmovies
      containers:
        - image: {{.Values.localmovies.imageRepository}}/localmovie-media-manager:@project.version@
          imagePullPolicy: Always
          name: localmovies
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "production"
          volumeMounts:
            - name: application-config
              mountPath: /opt/localmovie/config
              readOnly: true
              # media(number) is a required convention for video conversion
            - name: media1
              mountPath: /opt/localmovie/1/LocalMedia
            - name: media2
              mountPath: /opt/localmovie/2/LocalMedia
            - name: media3
              mountPath: /opt/localmovie/3/LocalMedia
            - name: media4
              mountPath: /opt/localmovie/4/LocalMedia
            - name: media5
              mountPath: /opt/localmovie/5/LocalMedia
            - name: secrets
              mountPath: /opt/localmovie/secrets
              readOnly: true
          resources:
            requests:
              cpu: "1"
              memory: "1Gi"
            limits:
              cpu: "2"
              memory: "2Gi"
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 10
            failureThreshold: 100
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 10
            failureThreshold: 100
            periodSeconds: 5
      volumes:
        - name: media1
          nfs:
            server: 10.0.0.195
            path: /LocalMedia1
        - name: media2
          nfs:
            server: 10.0.0.195
            path: /LocalMedia2
        - name: media3
          nfs:
            server: 10.0.0.195
            path: /LocalMedia3
        - name: media4
          nfs:
            server: 10.0.0.195
            path: /LocalMedia4
        - name: media5
          nfs:
            server: 10.0.0.195
            path: /LocalMedia5
        - name: application-config
          configMap:
            name: localmovies
            items:
              - key: bootstrap.yml
                path: bootstrap.yml
        - name: secrets
          secret:
            # Create this secret via: kubectl create secret generic localmovie-firebase-key --from-file=localmovie-firebase-key.json
            secretName: localmovie-firebase-key
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
